# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# PyInstaller
MMS_debug.spec

# Project runtime data
data/
config.yaml

# OS
Thumbs.db
.DS_Store

# PyArmor
.pyarmor/
